@model IEnumerable<WebApplicationExamParcial.Models.Estudiantes>

@{
    ViewBag.Title = "Index";
}

<h2>Estudiantes</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }


</table>

<div class="d-flex justify-content-center">

    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-md mx-2">Inicio &raquo;</a></p>
    <p><a href="@Url.Action("Index", "Cursos")" class="btn btn-primary btn-md mx-2">Ver Cursos &raquo;</a></p>

</div>
